@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    background-color: #EEFCF6;
    font-size: 14px;
}

.container {
    max-width: 1250px;
}

.navbar {
    background: #26C485;
}

.footer {
    background: #26C485;
}

.btn-primary {
    background-color: #26C485;
    border-color: #26C485;
    transition: 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #21AB74;
    border-color: #21AB74;
}

.btn-secondary {
    transition: .2s ease-in-out;
}

.btn-danger {
    transition: .2s ease-in-out;
}

.btn-outline {
    border-color: #d4f8ea;
    transition: 0.2s ease-in-out;
}

.btn-outline:hover {
    background-color: #21AB74;
}

table tbody tr td a .btn-warning {
    background-color: #74b7a5;
    border-color: #74b7a5;
    transition: 0.2s ease-in-out;
}

table tbody tr td a .btn-warning:hover {
    background-color: #94c4bc;
    border-color: #94c4bc;
}

.fa-solid.fa-trash {
    color: #CE3434;
}

.fa-solid.fa-trash:hover {
    color: #B52C2C;
}